/* TODO Add site wide styles */
.zipCode {
    max-width: 90px;
    width: 69px;
    margin-left: 175px;
}

.tag-input {
    margin-left: 100px;
}

.tag-label {
    font-size: 16pt;
}


/* Example Styles for React Tags*/
#app {
    /* padding: 40px; */
  }
  
  div.ReactTags__tags {
      position: relative;
  }
  
  /* Styles for the input */
  div.ReactTags__tagInput {
      width: 200px;
      border-radius: 2px;
      display: inline-block;
  }
  div.ReactTags__tagInput input.ReactTags__tagInputField,
  div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
      height: 31px;
      margin: 0;
      font-size: 12px;
      width: 100%;
      border: 1px solid lightgreen;
      padding: 0 4px;
  }
  div.ReactTags__selected {
      margin-right: 30%;
  }
  /* Styles for selected tags */
  div.ReactTags__selected span.ReactTags__tag {
      border: 1px solid #ddd;
      background: #eee;
      font-size: 16px;
      display: inline-flex;
      padding: 5px;
      /* margin: 0 5px; */
      cursor: move;
      border-radius: 2px;
      width: 130px;
      margin-left: 15%;
      height: 100%;
      text-align: center;
      align-items: center;
      justify-content: space-between;
  }
  div.ReactTags__selected a.ReactTags__remove {
      color: #aaa;
      /* margin-left: 50px; */
      cursor: pointer;
      /* position: relative; */
      /* padding-left: 10px; */
      /* left: 30px; */
      /* display: inline-flex; */


  }

  .ReactTags__remove {
    color: #aaa;
    /* margin-left: 70%; */
    /* margin-block-end: auto; */
    /* height: 30px; */
    cursor: pointer;
    /* display: flex; */
    /* align-items: center; */
    /* justify-items: center; */
    /* display: flex; */
    /* justify-items: self-end; */
    /* align-self: center; */
}
  
  /* Styles for suggestions */
  div.ReactTags__suggestions {
      position: absolute;
  }
  div.ReactTags__suggestions ul {
      list-style-type: none;
      box-shadow: .05em .01em .5em rgba(0,0,0,.2);
      background: white;
      width: 200px;
  }
  div.ReactTags__suggestions li {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      margin: 0;
  }
  div.ReactTags__suggestions li mark {
      text-decoration: underline;
      background: none;
      font-weight: 600;
  }
  div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
      background: #b7cfe0;
      cursor: pointer;
  }

html,.form-container,#root {
  background-color: #e9bcb7;
background-image: linear-gradient(315deg, #e9bcb7 0%, #29524a 74%);
}